@import './crisp/index.scss';

:root {
	--foreground: #8f8f8f;
	--body: #f5f5f4;
	--scroll: #c4c4c4;

	--accent: #ef5a3c;

	--strength-red: #ff8487;
	--strength-orange: #f8b858;
	--strength-yellow: #f3e056;
	--strength-green: #86e286;

	--check-orange-primary: #fdba74;
	--check-orange-secondary: #ffedd5;

	--check-pink-primary: #f9a8d4;
	--check-pink-secondary: #fce7f3;

	--check-blue-primary: #93c5fd;
	--check-blue-secondary: #dbeafe;

	--check-green-primary: #bef264;
	--check-green-secondary: #ecfccb;
}

* {
	margin: 0;
	padding: 0;
	font-display: swap;
	box-sizing: border-box;
	color: var(--foreground);
}

::-webkit-scrollbar {
	background: transparent;
}
::-webkit-scrollbar {
	@include box($scrollbarWidth, $scrollbarWidth);
}
::-webkit-scrollbar-thumb {
	background: var(--scroll);
	border-radius: 10px;
}
::-webkit-scrollbar-track {
	background: transparent;
}

html {
	overflow-y: auto;
	overflow-x: hidden;
	font-family: 'IBM Plex Sans', sans-serif;
	font-weight: 400;
	font-style: normal;

	font-optical-sizing: auto;
	letter-spacing: 0.7px;

	@include make-flex($just: flex-start);
	@include box(100vw, auto);
	min-height: 100vh;
	// scrollbar-gutter: stable;
	// scroll-behavior: smooth;
}

body {
	@include box(100vw, auto);
	background-color: var(--body);
	min-height: 100vh;
	@include make-flex($just: flex-start);
}

#app {
	@include box(100vw, auto);
	min-height: 100vh;
	max-width: $maxWidth;
	padding: 0 16px 16px;

	@include make-flex($just: flex-start);
	gap: 20px;
}

.Content {
	&--maxWidth {
		@include box();
		@include make-flex($just: flex-start);
		padding: 64px 20px 20px 20px;
		max-width: $maxWidth;
		gap: 15px;
	}
}

// global needs
*[data-mandatory] {
	&:after {
		content: ' *';
		color: red;
	}
}

.Row {
	&--center {
		@include make-flex($dir: row, $just: center);
	}
	&--start {
		@include make-flex($dir: row, $just: flex-start);
	}
	&--end {
		@include make-flex($dir: row, $just: flex-end);
	}
	&--between {
		@include make-flex($dir: row, $just: space-between);
	}
	&--around {
		@include make-flex($dir: row, $just: space-around);
	}

	&--a-start {
		@include make-flex($dir: row, $align: flex-start);
	}

	&--a-end {
		@include make-flex($dir: row, $align: flex-end);
	}
	&--j-start {
		@include make-flex($dir: row, $just: flex-start);
	}
	&--j-end {
		@include make-flex($dir: row, $just: flex-end);
	}
}

.Col {
	&--center {
		@include make-flex($dir: column, $just: center);
	}
	&--j-start {
		@include make-flex($dir: column, $just: flex-start);
	}
	&--j-end {
		@include make-flex($dir: column, $just: flex-end);
	}

	&--a-start {
		@include make-flex($dir: column, $align: flex-start);
	}

	&--a-end {
		@include make-flex($dir: column, $align: flex-end);
	}

	&--between {
		@include make-flex($dir: column, $just: space-between);
	}
	&--around {
		@include make-flex($dir: column, $just: space-around);
	}
}

// Padding Classes
$paddingSizes: (5, 10, 15, 20);
$paddingDirections: (l, r, t, b, x, y);

@each $size in $paddingSizes {
	@each $dir in $paddingDirections {
		.pad-#{$size}#{$dir} {
			@if $dir == l {
				padding-left: #{$size}px;
			} @else if $dir == r {
				padding-right: #{$size}px;
			} @else if $dir == t {
				padding-top: #{$size}px;
			} @else if $dir == b {
				padding-bottom: #{$size}px;
			} @else if $dir == x {
				padding-left: #{$size}px;
				padding-right: #{$size}px;
			} @else if $dir == y {
				padding-top: #{$size}px;
				padding-bottom: #{$size}px;
			}
		}
	}
}

.w {
	&-auto {
		width: auto;
	}
	&-100 {
		width: 100%;
	}
	&-90 {
		width: 90%;
	}
	&-80 {
		width: 80%;
	}
}

.h {
	&-100 {
		height: 100%;
	}
	&-90 {
		height: 90%;
	}
	&-80 {
		height: 80%;
	}
}
// Gap Classes
$gapSizes: (5, 10, 15, 20);

@each $gap in $gapSizes {
	.gap-#{$gap} {
		gap: #{$gap}px;
	}
}
